body {
	background-color: #ccccccff;
	color: #000000ff;
	font-family: monospace, monospace;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

::-webkit-scrollbar {
	pointer-events: auto;
	background-color: #bbbbbbff;
}

::-webkit-scrollbar-thumb {
	pointer-events: auto;
	background-color: #ddddddff;
}

#gridder {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		"searchdiv"
		"gamesbox";
}

#searchdiv {
	grid-area: searchdiv;
	margin: 1em;
	white-space: pre;
}

#gamesbox {
	grid-area: gamesbox;
	margin: 1em;
	background-color: #f0f0f0ff;
	white-space: pre;
	overflow-x: hidden;
	overflow-y: auto;
}

input {
	background-color: #f0f0f0ff;
	border: none;
	caret-color: black;
	color: #000000ff;
	font-size: 100%;
	width: 40em;
	margin-bottom: 4px;
	pointer-events: auto;
	user-select: auto;
}

input:focus {
	border: none;
	background-color: #ffffffff;
	outline: none;
}

.game:hover {
	background-color: #fff0f0ff;
	color: #cc0000ff;
}

.bold {
	font-weight: bold;
}
