body {
	background-color: #ccccccff;
	color: #000000ff;
	font-family: monospace, monospace;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

::-webkit-scrollbar {
	pointer-events: auto;
	background-color: #bbbbbbff;
}

::-webkit-scrollbar-thumb {
	pointer-events: auto;
	background-color: #ddddddff;
}

#gridder {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		"s_p"
		"g";
}

#search_preview {
	grid-area: s_p;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"sd pd";
}

#searchdiv {
	grid-area: sd;
	margin: 1em;
	white-space: pre;
}

#preview {
	grid-area: pd;
	margin: 1em;
	align-self: center;
	justify-self: right;
}

#gamesbox {
	grid-area: g;
	margin: 1em;
	background-color: #f0f0f0ff;
	white-space: pre;
	overflow-x: hidden;
	overflow-y: auto;
}

input {
	background-color: #f0f0f0ff;
	border: none;
	caret-color: black;
	color: #000000ff;
	font-size: 100%;
	font-family: monospace, monospace;
	width: 40em;
	margin-bottom: 4px;
	pointer-events: auto;
	user-select: auto;
}

input:focus {
	border: none;
	background-color: #ffffffff;
	outline: none;
}

.highlightedgame {
	background-color: #ffffffff;
}

.bold {
	font-weight: bold;
}
